.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 10px;
    padding: 50px;
}

body {
    background-color: #282c34;
    color: antiquewhite;
}

.box {
    border: 1px;
    border-style: solid;
    padding: 50px;
    align-self: center;
}